apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: job-tracker-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          # IMPORTANT: We use a placeholder image tag that our pipeline will replace.
          image: milakirovski/job-tracker-backend:25
          ports:
            - containerPort: 8080
          env:
            - name: MONGO_INITDB_ROOT_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mongodb-secret
                  key: mongo-root-username
            - name: MONGO_INITDB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mongodb-secret
                  key: mongo-root-password
            - name: SPRING_DATA_MONGODB_URI
              value: "mongodb://$(MONGO_INITDB_ROOT_USERNAME):$(MONGO_INITDB_ROOT_PASSWORD)@$(SPRING_DATA_MONGODB_HOST):$(SPRING_DATA_MONGODB_PORT)/$(SPRING_DATA_MONGODB_DATABASE)?authSource=$(SPRING_DATA_MONGODB_AUTHENTICATION_DATABASE)"

---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: job-tracker-app
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
    - port: 8080 # service port
      targetPort: 8080 # backend application listening port
